In [9]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [7]:
import pandas as pd
import chardet

# Path to the uploaded CSV file
csv_file_path = 'Articles.csv'

# Detect the encoding of the file
with open(csv_file_path, 'rb') as f:
    result = chardet.detect(f.read())

file_encoding = result['encoding']
print(f"Detected file encoding: {file_encoding}")

# Read the CSV file with the detected encoding
df = pd.read_csv(csv_file_path, sep=',', quotechar='"', encoding=file_encoding, engine='python')

# Display the first few rows of the DataFrame to verify contents
print(df.head())

# Optional: Save the cleaned DataFrame to a new CSV file
output_file_path = 'Cleaned_Articles.csv'
df.to_csv(output_file_path, index=False)

print(f"Cleaned CSV file saved to: {output_file_path}")

Detected file encoding: Windows-1252
                                             Article      Date  \
0  KARACHI: The Sindh government has decided to b...  1/1/2015
1  HONG KONG: Asian markets started 2015 on an up...  1/2/2015
2  HONG KONG:  Hong Kong shares opened 0.66 perce...  1/5/2015
3  HONG KONG: Asian markets tumbled Tuesday follo...  1/6/2015
4  NEW YORK: US oil prices Monday slipped below $...  1/6/2015

                                             Heading  NewsType
0  sindh govt decides to cut public transport far...  business
1                    asia stocks up in new year trad  business
2           hong kong stocks open 0.66 percent lower  business
3             asian stocks sink euro near nine year   business
4                 us oil prices slip below 50 a barr  business
Cleaned CSV file saved to: Cleaned_Articles.csv

In [13]:


df.columns = ['content', 'publish_date', 'headline', 'category']
df['publish_date'] = pd.to_datetime(df['publish_date']).dt.strftime('%Y-%m-%d')

df

,content,publish_date,heading,category
0,KARACHI: The Sindh government has decided to b...,2015-01-01,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,2015-01-02,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,2015-01-05,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,2015-01-06,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,2015-01-06,us oil prices slip below 50 a barr,business
...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,2017-03-25,Laptop ban hits Dubai for 11m weekend traveller,business
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",2017-03-26,Pak China relations not against any third coun...,business
2689,strong>WASHINGTON: Uber has grounded its fleet...,2017-03-26,Uber grounds self driving cars after accid,business
2690,strong>BEIJING: The New Development Bank plans...,2017-03-27,New Development Bank plans joint investments i...,business
2691,strong>KARACHI: Karachi-based technology incub...,2017-03-27,Google powered Startup Weekend energizing prou...,business

In [14]:
engine = create_engine('postgresql+psycopg2://postgres:gajah@localhost:5432/mediom')

# Insert the DataFrame into the PostgreSQL table
table_name = 'article'
df.to_sql(table_name, engine, if_exists='append', index=False, method='multi')

print(f"Data inserted into the '{table_name}' table successfully.")

Data inserted into the 'article' table successfully.